$primary-color: #655af3;
$secondary-color: #35495e;
$dark-color: #091540;
$light-color: #efefef;
$gray-color: #555b6e;
$selection-color: rgba(42, 55, 68, 0.3);
$dark-transparent: rgba(1, 4, 43, 0.65);
